h1{
    font-weight: bold;
    text-align: center;
}

h2{
    font-weight: bold;
    font-size: 36px;
}


ul{
    font-size: 32px;
}

ol{
    font-size: 32px;
}

p{
    font-size: 26px;
    font-weight: bold ;

}
